<!DOCTYPE html>
<html>
<head>
  <title>AnimatedgifMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
      </ul>
      <%= link_to image_tag("logo.png", alt: "With Great Gifs Comes Great Responsibility", class: "img-responsive"), root_url %>
    </div>

    <%= yield %>

    <div class="footer text-center">
      <p>Made by <%= link_to "M. Dinar", "https://github.com/stranger19" %></p>
    </div>
  </div> <!-- /container -->


</body>
</html>
